<form [formGroup]="form" (ngSubmit)="salvar()">
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" formControlName="nome" class="form-control">

    <div *ngIf="form.get('nome')?.invalid 
        && (form.get('nome')?.dirty || form.get('nome')?.touched)">
        <div *ngIf="form.get('nome')?.errors?.['required']">
            Nome é obrigatório</div>
    </div>

    <label for="celular" class="form-label">Celular:</label>
    <input type="text" formControlName="celular" class="form-control">

    <label for="cidade" class="form-label">Cidade:</label>
    <input type="text" formControlName="cidade" class="form-control">

    <button type="submit" [disabled]="!form.valid">Salvar</button>

</form>