<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="home" class="nav-link" routerLinkActive="active"
                aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="calculadora" routerLinkActive="active" class="nav-link">Calculadora</a>
        </li>
        <li class="nav-item"><a routerLink="media-simples" routerLinkActive="active" class="nav-link">Média Simples</a>
        </li>
    </ul>
</header>