<div class="row">
    <div class="col-md-3">
        <nav>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a routerLink="tela-filho1" class="nav-link" routerLinkActive="active">
                        Filho1</a>
                </li>
                <li class="nav-item">
                    <a routerLink="tela-filho2" routerLinkActive="active" class="nav-link">
                        Filho2
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <router-outlet />
    </div>
</div>