<form #form="ngForm" (ngSubmit)="salvar()">
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" name="nome" class="form-control" [(ngModel)]="usuario.nome" required>

    <label for="email" class="form-label">E-mail:</label>
    <input type="text" name="email" class="form-control" [(ngModel)]="usuario.email" required email>

    <label for="senha" class="form-label">Senha:</label>
    <input type="password" name="senha" class="form-control" [(ngModel)]="usuario.senha" required>

    <label for="ativo" class="form-label">Ativo:</label>
    <input type="checkbox" name="ativo" class="form-control" [(ngModel)]="usuario.ativo" required>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
</form>